.pum-content.popmake-content {
  display: flex;
  align-items: center;
}
.pop-img {
  width: 47%;
}
.pop-content {
  width: 50%;
}
.tnp-submit {
  margin: 0 auto !important;
  padding: 10px 40px !important;
}
.tnp-submit:hover {
  background-color: #2a2a2a !important;
}

.product-slider.elementor-swiper-button-prev {
  left: -12px !important;
}
.product-slider.elementor-swiper-button-next {
  right: -20px !important;
}
